body {
    font-family: sans-serif;
    background-color: #7104e6;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #ffffff;
    margin-bottom: 30px;
}
h4 {
    color: #ffffff;
    margin-bottom: 20px;
}

.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#nodesList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.nodes {
    list-style-type: none;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 10px 25px;
    display: grid;
    text-align: left;
}

#searchBar {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

::placeholder {
  font-size: 15px;
  
}

.loader {
	color: #ffffff;	
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}