body {
    font-family: 'Outfit', sans-serif;
    background-image: linear-gradient(90deg, rgba(97,0,201,1) 0%, rgba(173,1,203,1) 100%);
}

* {
    box-sizing: border-box;
}
h1 {
    color: #ffffff;
    margin-bottom: 20px;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 5px;
	
}
.notice {
    color: #ffffff;
    margin-bottom: 20px;
}

.container {
	word-wrap: break-word;
    padding: 30px;
    margin: 0 auto;
    max-width: 1700px;
    text-align: center;
}

#nodesList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 5fr));
    grid-gap: 15px;
}

.nodes {
    list-style-type: none;
    background-color: #e9e9e9;
    border-radius: 50px;
    padding: 10px 25px;
    display: grid;
    text-align: left;
}


#searchBar {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

::placeholder {
  font-size: 15px;
  
}

.loader {
	color: #ffffff;	
}

a:link {
  color: white;
}

a:visited {
  color: orange;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}