body {
	font-family: 'Outfit', sans-serif;
  background: linear-gradient(60deg, #22074C, #EA339A);
  background-size: 350% 100%;
  background-attachment: fixed;
}

* {
    box-sizing: border-box;
}
h1 {
	background: -webkit-linear-gradient(lightgrey, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 5px;
	
}

@media (max-width: 600px) {
  h1 {
    background: -webkit-linear-gradient(lightgrey, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
	font-size: 30px;
	letter-spacing: 1.5px;
	word-spacing: 4px;
  }
}

.notice {
  color: red;
  margin-bottom: 20px;
}

.container {
	word-wrap: break-word;
  padding: 30px;
  margin: 0 auto;
  max-width: 1700px;
  text-align: center;
}

#nodesList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 5fr));
  grid-gap: 10px;
  justify-content: center;
}

#nodesList .nodes h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#nodesList .nodes p {
  margin: 2px 0;
  line-height: 2;
}

@media (max-width: 600px) {
  #nodesList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }
}

.nodes {
  list-style-type: none;
  background-color: rgb(173, 173, 173);
  border-radius: 30px;
  padding: 10px 15px;
  display: grid;
	text-align: left;
}

.filterSection{
  display:inline-block;
  font-size: 20px;
}

#clearFiltersButton {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.filter-dropdown {
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 10px;
}

.filter-dropdown label{
  color: white;
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 200px;
  background-color: #f2f2f2;
}

.filter-dropdown option {
  font-size: 17px;
  padding-right: 30px;
}

#searchBar {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(173, 173, 173);
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
    position: relative;
}

::placeholder {
  font-size: 17px;
  font-weight: bold;
  
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

a:link {
  color: blue
}

a:visited {
  color: orange;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

#iso:link {
	color: red;
	
}

#iso:visited {
  color: blue;
}

#iso:hover {
  color: purple;
}

#iso:active {
  color: blue;
}

#fetching {
	color: white;
  font-size: 20px;
	
}

#fetchingErrorMessage {
  color: white;
  font-size: 20px;
}

#fetchingErrorCode {
  color: white;
  font-size: 16px;
}

#invalidIdError {
  color: white;
  font-size: 20px;
}

#invalidIdError2 {
  color: white;
  font-size: 16px;
}

#flags {
	width: 35px;
	height: 25px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #4a148c;
}

.footer p {
  color: white;
}

.mask {
  color: white;
  margin-bottom: 20px;
}

.footer div {
  display: inline-block;
}

#logos {
  height: 40px;
  padding: 5px;
  margin-top: 50px;
}